* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #060b23;
}

body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.container h2 {
  font-size: 30px;
  text-align: center;
  color: #ffff;
}

.container p {
  color: red;
  text-align: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  position: absolute;
  left: 15px;
  top: 30px;
  padding: 0 10px;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: 13px;
  font-size: 12px;
  left: 6px;
}

.input {
  width: 400px;
  padding: 16px 10px;
  margin: 20px 0;
  border: 2px solid #e1e5ee;
  box-sizing: border-box;
  display: block;
  outline: none;
  color: white;
  min-height: 20vh;
  max-height: 50vh;
  border-radius: 3px;
  resize: vertical;
  font-size: 16px;
}

.input:hover {
  border-color: #adffff;
}

.input:focus {
  border-color: #18ffff;
}

.input::-webkit-scrollbar {
  width: 8px;
}

.input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.container button:focus {
  outline: none;
}
.container button:active {
  transform: scale(0.98);
}

.container .button {
  background-color: black;
  border-radius: 20%;
  border: solid 1px white;
  cursor: pointer;
}
